
body {
    font-family: sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#input_message {
    width: 70% !important;
    height: 50px !important;
    display: inline-block !important;
    background-color: #fff !important;
    overflow-x: hidden !important;
    border: 0px solid #fff;
    margin: 0px !important;
}

    #input_message textarea {
        width: 100%;
        height: 100% !important;
        font-size: 16pt;
        font-weight: bold;
        border: 0px;
        color: #5c5c5c;
        font-family: sans-serif;
        background-color: #fff;
        overflow-x: hidden !important;
        outline: none;
        resize: none;
        margin-top: 0px;
        padding: 10px;
    }

#input_button {
    width: 29% !important;
    height: 50px !important;
    display: inline-block !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    border: 0px solid #db1424;
    color: #db1424 !important;
    background-color: #fff !important;
    font-size: 16pt;
}

    #input_button:hover {
        width: 29% !important;
        height: 50px !important;
        display: inline-block !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        border: 0px solid #db1424;
        color: #fff !important;
        background-color: #db1424 !important;
        font-size: 16pt;
    }

    #input_button p {
        margin: auto;
        height: auto;
        width: auto;
        padding: 10px;
    }

#messages {
    width: 100%;
    height: 100%;
    margin: auto;
}

#messages div {
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: #a52a2a;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

    #messages div div {
        width: 50%;
        height: auto;
        margin-right: 0px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        background-color: #fff;
        border-radius: 10px 0px 0px 10px;
    }

        #messages div div h1 {
            color: #5c5c5c;
            padding: 10px;
            font-weight: bold;
            word-wrap: break-word;
            margin-bottom: 0px;
            font-size: 15pt;
        }

        #messages div div p {
            color: #c1c1c1;
            padding: 5px;
            font-weight: bold;
            word-wrap: break-word;
            text-align: right;
            margin-top: 0px;
        }

.button {
    width: auto;
    font-size: 13pt;
    font-weight: bold;
    font-family: sans-serif;
    color: #db1424;
    margin: auto;
    text-align: center;
    padding: 5px 5px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #db1424;
    background-color: #fff;
}

.form_itens {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

    .form_itens div {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .form_itens div label {
            width: 100%;
            padding: 20px 0px;
            font-size: 13pt;
            font-weight: bold;
            font-family: sans-serif;
            color: #a52a2a;
        }

        .form_itens div input {
            width: 70%;
            font-size: 13pt;
            font-weight: bold;
            font-family: sans-serif;
            color: #a52a2a;
            margin: auto;
            padding: 5px 5px;
            outline: none;
            border-radius: 10px;
            border: 2px solid #a52a2a;
            background-color: #fff;
            transition: 1s;
        }


.chats {
    width: 100%;
}

    .chats div {
        width: 20%;
        padding: 10px;
        box-shadow: 0 0 1em #000;
        border-left: 2px solid #db1424;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

        .chats div p {
            width: 100%;
            background-color: #db1424;
            color: #fff;
            padding: 10px 0px;
            text-align: center;
            font-weight: bold;
            margin-top: 0px;
        }

        .chats div h1 {
            width: 100%;
            font-weight: bold;
            margin-bottom: 0px;
        }
        .chats div h3 {
            width: 100%;
            font-weight: bold;
            padding: 10px 0px;
            margin-top: 0px;
        }

.count {
    background-color: #db1424;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    border-radius: 50%;
}